<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Import css -->
    {% block head %}{% endblock head %}
  </head>

  <body>
    {% block navbar %}
      {% include "navbar.html" %}
    {% endblock navbar %}
    {% block body %}{% endblock body %}
    {% block footer %}
      {% include "footer.html" %}
    {% endblock footer %}
  </body>
  {% block afterbody %}{% endblock afterbody %}
</html>
