{% extends "base.html" %}
{% block body %}
  <div class="m-3">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">

          </p>
        </div>
        <div class="card-footer">
          <p class="card-text">

          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">

          </p>
        </div>
        <div class="card-footer">
          <p class="card-text">

          </p>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}
